# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin
.idea

# Mac OS garbage
*.DS_Store

# Test binary, build with `go test -c`
*.test

# Helper script for test harness
harness.sh

# Voucher seeder txt file for test harness
harness/tests/voucherips.txt

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.txt

# Project settings for VSCode
.vscode/

# Logs
*.log
*.bak
*CURRENT*
*LOCK
*LOG
*MANIFEST*
*0000*
demo/**.*

# wallet.dat
*wallet.dat

# Testnet binary
launch/testnet/testnet

devnet

pkg/util/ruskmock/ruskmock.db
