# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Mac OS garbage
*.DS_Store

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.txt

# Project settings for VSCode
.vscode/

# Logs
*.log
*.bak
*CURRENT*
*LOCK
*LOG
*MANIFEST*
*0000*
demo/**.*

# wallet.dat
*wallet.dat
